.container {
    text-align: center;    
    height: 300px;
    width: 60%;
    background-color: #EEECEB;
    margin: 0% auto;
    margin-top: 20px;
}
ul {
    list-style: none;
    padding-top: 10px;
}
li {
    margin-top: 10px;
}
.input {
    margin-left: 10px;
}
.generateButton{
    width: 10%;
    height: 10%;
    background-color: #35CD08;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
