.container {
    text-align: center;    
    height: auto;
    width: 40%;
    background-color: #EEECEB;
    margin: 0% auto;
    margin-top: 10px;
}
h1{
    font-family: 'Brush Script MT';
    padding-top: 40px;
}
ul {
    list-style: none;
}
label{
    background-color: white;
    color: black;
    font-family: Courier New, monospace	;
    font-size: 20px;
}
li {
    margin-top: 10px;
    background-color: white;
    color: black;
    font-family: Courier New, monospace	;
    font-size: 18px;
}
.input {
    margin-left: 10px;
    width: auto;
}
.generateButton{
    width: 10%;
    height: 10%;
    background-color: #35CD08;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}
.ingredientButton{
    width: 10%;
    height: 10%;
    background-color: #FBBD38;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}