.parent {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 2rem 2rem;
}

.child {
  display: inline-block;
  width: 30%;
  min-height: 80%;
  border: 1px solid gray;
  background-color: #EEEE;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.add-button {
  margin-left: 5px;
}

.ingredient-item {
  display: block;
}

.meal-label {
  margin-bottom: 20px;
}

.meal-input {
  margin-top: 5px;
}

.submit-button {
  width: 100px;
  height: 20px;
  background-color: #58D68D;
  border: none;
  cursor: pointer;
  color: #566573;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;

}