.cookbook-container {
  text-align: center;
}

.recipe-container {
  float: left;
  margin-left: 15%;
  width: 30%;
  min-height: 80%;
  border: 1px solid gray;
  vertical-align: middle;
  border-radius: 10px;
  background-image: linear-gradient(white, #D9C6E8);


}

.ingredient-container {
  float: right;
  margin-right: 15%;
  width: 30%;
  min-height: 80%;
  border: 1px solid gray;
  vertical-align: middle;
  border-radius: 10px;
  background-image: linear-gradient(white, #D9C6E8);

}


.add-button {
  margin-left: 5px;
  background-color: #58D68D;
  border: none;
  border-radius: 5px;
}

.ingredient-item {
  display: block;

}

.meal-label {
  font-weight: bold;

}

.meal-input {
  margin-bottom: 5px
}

.submit-button {
  text-align: center;
  font-size: 15pt;
  margin-top: 60vh;
  width: 300px;
  height: 100px;
  background-color: #E1E549;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}