.cookbook-container {
  text-align: center;
}

.recipe-container {
  float: left;
  margin-left: 15%;
  width: 30%;
  min-height: 80%;
  border: 1px solid gray;
  background-color: #EEEE;
  vertical-align: middle;
}

.ingredient-container {
  float: right;
  margin-right: 15%;
  width: 30%;
  min-height: 80%;
  border: 1px solid gray;
  background-color: #EEEE;
  vertical-align: middle;
}


.add-button {
  margin-left: 5px;
}

.ingredient-item {
  display: block;
}

.meal-label {
  margin-bottom: 20px;
}

.meal-input {
  margin-top: 5px;
}

.submit-button {
  margin-top: 60vh;
  width: 100px;
  height: 20px;
  background-color: #58D68D;
  border: none;
  cursor: pointer;
  color: #566573;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}