.login-container {
    text-align: center;
    margin: auto;
    height: 200px;
    width: 300px;
    background-color: #FCFBB9;
    z-index: 1;

}

.login-button {
    width: 70px;
    height: 20px;
    background-color: #58D68D;
    border: none;
    cursor: pointer;
    color: #566573;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

.forgot-password-link {
    margin-left: 5px;
}

.login-lower-controls {
    margin-top: 20px;
}

.cancle-button {
    width: 70px;
    height: 20px;
    background-color: #FC4919;
    border: none;
    cursor: pointer;
    color: #566573;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}